a{
    display: flex;
    align-items: center;
}
.header{
    transform:translateY(0);
    transition:  0.4s all ease-out;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw    ;
    display: flex;
    justify-content: space-between;
}
.header.hidden{
    box-shadow: none;
    transform:translateY(-100%);
}
.github{
    margin-bottom: 2vh;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4em;
}
.intro{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.subintro{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: rgb(80, 80, 80);
}
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    margin-bottom: 30vh;
}
input,textarea {
    border-radius: 1em;
    border: 1px solid black;
    margin: 0.5em 1.5em 1em 1.5em;
}
input{
    height: 2em;
}
button{
    font-size: 1em;
    font-weight: bold;
    margin: 1em;
    border-radius: 1em;
    border: 0;
    background-color: white;
}
button:hover{
    background-color:rgb(215, 215, 215);
}
.contact,form, .services, .projects , .about{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.input_title{
    width: 25em;
}

textarea{
    width: 25em;
}

.forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    border-top: 1px solid black;
}
form{
margin: 1.5em;
}
.socials{
    margin: 3em;
    
}
.icon{
    margin-right: 1em;
    position: relative;
    top: 0.5em;
}
a{
    height: 8px;
    font-size: 1em;
    text-decoration: none;
}

a:hover{
    color:rgb(215, 215, 215) ;
}

.about{
    width: 80vw;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile_pic{
    width: 30vw;
    margin: 2em;
}
.skill_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.skill{
    margin: 1em;
}

h4{
    margin: 2em;
}
/* .projectpic{
    width: 20em;
} */
.projectcard{
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position:-2000px -2000px;  */
    filter: grayscale(100%);
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em;
    
}
.projectpic{
    width: 40vw;
}
.projectcard:hover{
    /* background-position: 0 0; */
    /* color: transparent; */
    filter: none;
}
/* .projectcard:hover .projectlinks{
    
    color: transparent;
} */

.projects{
    margin-top: 3vh;
    width: 80vw;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-top: 0.5px solid black;
}
.project_skill{
    height: 2em;
}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logo{

margin-left: 30px;
margin-top: 15px;
}
.gap{
    height: 6em;
}

@media only screen and (max-width:600px){
    .forms{
        flex-direction: column;
    }
}